.courseCard {
  /* background: linear-gradient(70deg, #083a5f, #131313);
  color: #ebe9e9; */
  transition: all 0.4s;
}

.courseCard:hover {
  background: #ffffff;
  color: #131313;
}

.enrollBtn {
  /* background: linear-gradient(to bottom, #083c5f, #131313); */
  background: #2194f3;
}

.enrollBtn:hover {
  background: #1796fd;
}
