.courseCard {
  background: linear-gradient(70deg, #083a5f, #131313);
  color: #ebe9e9;
  transition: all 0.5s;
}

.courseCard:hover {
  background: #ffffff;
  color: #131313;
}

.enrollBtn {
  background: linear-gradient(bottom, #083c5f, #131313);
}

.enrollBtn:hover {
  background: #1796fd;
}
